*{
    background-color: rgb(10,10,10);
    font-family: 'Times New Roman', Times, serif;
}

.name{
    font-weight: bold;
    font-style: oblique;
    color: rgb(255, 0, 255);

}

.asaGato{
    width: 15%;
    border: rgb(67, 67, 235) 5px solid;
    border-radius: 20%;
    

}

#sobreMi{
    color: rgb(123, 0, 255);
    text-align: center;
    text-decoration: overline;
    
}

#educacion{
    font-variant: small-caps;
    color: rgb(255, 102, 0)
}
.perfil{
    width: 150px;
    display: block;
    margin: 0 auto;

}

#escom{
    width: 10%;
    border: rgb(204, 152, 198) 3px solid;
    border-radius: 1px;
    box-shadow: 0px 10px 15px;
}

#experiencia{
    text-align: center;
    color: rgb(0, 255, 0);;
}

input, textarea {
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 255, 255);
  border-radius: 5px;
  padding: 8px;
}
#contacto{
    color: rgb(179, 245, 245);
}

button {
  background-color: rgb(0, 255, 255);
  color: rgb(10, 10, 10);
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}